*{
    margin:0;
    padding:0;
}

.main{
    width:100%;
    background-image: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(homepage.png);
    background-position: center;
    background-size: cover;
    height:109vh;
    

}
.navbar{
    width: 1200px;
    height:75px;
    margin: auto;
}

.icon{
    width: 200px;
    float:left;
    height:70px;

}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top:10px;
}
.content{
    width:1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content h1{
    font-family: "Times New Roman";
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.form{
    width:250px;
    height:380px;
    background:linear-gradient(to top,rgba(0,0,0,0.7)50%,rgba(0,0,0,0.7)50%);
    position:absolute;
    top:-50px;
    left:750px;
    border-radius:10px;
    padding:25px;

}
.form h2{
    width:220px;
    font-family:sans-serif;
    text-align:center;
    color:#ff7200;
    font-size:25px;
    border-radius: 10px;
    margin:2px;
    padding:8px;

}
.form input{
    width:240px;
    height:35px;
    background:transparent;
    border-bottom:1px solid #ff7200;
    border-top: none;
    border-right:none;
    border-left:none;
    color:#fff;
    font-size:15px;
    letter-spacing:1px;
    margin-top:30px;
    font-family:sans-serif;

}
.form input:focus{
    outline:none;

}
::placeholder{
    color:#fff;
    font-family:Arial;

}
.btnn{
    width:240px;
    height:40px;
    background:#ff7200;
    border:none;
    margin-top:30px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    color:#fff;
    transition:0.4s ease;

}

.btnn:hover{
    background:#fff;
    color:#ff7200;
}