*{
    margin:0;
    padding:0;
}

.main{
    width:100%;
    background-image: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(homepage.png);
    background-position: center;
    background-size: cover;
    height:109vh;
    

}
.navbar{
    width: 1200px;
    height:75px;
    margin: auto;
}

.icon{
    width: 200px;
    float:left;
    height:70px;

}

.logo{
    color: #ff7200;
    font-size: 60px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top:24px;
}
.menu{
    width:400px;
    float:left;
    height: 70px;
    padding-top:20px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px ;
    font-sixe: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;

}

.search{
    width: 330px;
    float:left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 45px;
    color:rgb(255, 255, 255);
    border-right: none;
    font-size: 16px;
    float: left;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btnn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 45px;
    color:#fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;


}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline:none;
}
.content{
    width:1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content .par{
    padding-left:20px;
    padding-bottom:25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: "Times New Roman";
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: -1px;
    color:#fff;
    font-size: 15px;
    border-radius: 5px;
    float:left;
    padding:10px;


}
