body{
    background-image: url(login.png);
    background-position: center;
    background-size: cover;
    height:150vh;
    width: 100%;
}

.btnn1:hover{
    background-color:white;
}
.form{
    width: 250px;
    height: 380px;
    background:linear-gradient(to top,rgba(0,0,0,0.7)50%,rgba(0,0,0,0.7)50%);
    position:absolute;
    top:200px;
    left:900px;
    border-radius: 10px;
    padding:25px;
    box-shadow: 0 8px 32px 0 rgba(159, 159, 160, 0.37);
    border-left: 1px solid ;
    border-top: 2px solid;
}
.form h2{
    width:220px;
    font-family:sans-serif;
    text-align:center;
    color:#f0efee;
    font-size:22px;
    border-radius:10px;
    margin:2px;
    padding:8px;

}

.form input{
    width:240px;
    height:35px;
    background:transparent;
    border-bottom:1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size:15px;
    letter-spacing:1px;
    margin-top: 30px;
    font-family:sans-serif;
    
}
.form input:focus{
    outline:none;
}
::placeholder{
    color:#fff;
    font-family:Arial;

}
.btnn{
    width:240px;
    height:40px;
    background:#ff7200;
    border:none;
    margin-top:30px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    color:#fff;
    transition:0.4s ease;
}


.btnn a{
    text-decoration:none;
    color:#000;
    font-weight: bold;
}

button a:hover{
    color:white;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    padding-top:20px;
    text-align:center;
    color: grey;

}
.form .link a{
    text-decoration:none;
    color:#ff7200;
}

.ghar{
    font-size: 170px;
    width:1200px;
    height: auto;
    margin: auto;
    top: 350px;
    padding-left: 250px;
    color: #ff7200;
    position: relative;
}